.App {
  text-align: center;
}


.App-body {
  background-color: darksalmon;
  min-height: 100vh;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

