.App {
  text-align: center;
}


.App-body {
  background-color: darksalmon;
  min-height: 100vh;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.city-removal {
  font-size: calc(8px + 1.5vmin);
  color: white;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.default-message {
  margin-bottom: 10px;
}

.city-container {
  border: solid 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: left;
  position: relative;
}

.city-adding-error {
  color: black;
  border: solid 1px white;
  border-radius: 5px;
  font-size: 20px;
}
